[Unit]
Description=Balboa Spa MQTT Bridge

[Service]
User=cody
ExecStart=/usr/local/bin/bwa_mqtt_bridge mqtt://localhost/ /dev/ttyHotTub
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
